.signUpFromContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpFrom {
  width: 35vw;
  height: 50%;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .nameCredential,
.passwordCredential {
  display: flex;
} */
