* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Popping", sans-serif;
}
:root {
  --primary-color: #2c3e50;
  --secondary-color: #1bfd9c;
  --error-color: #d72631;
  --success-color: #1b998b;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
}

.side {
  height: 100vh;
  border: 2px solid red;
}

.mainContent {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
}
