* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Popping", sans-serif;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side {
  height: 100vh;
  border: 2px solid red;
}

.mainContent {
  height: 100vh;
  border: 2px solid red;
}
