.charts {
  width: 100%;
  color: var(--success-color);
  display: flex;
  justify-content: center;
}
.occupancyRate {
  width: 100%;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.revenue {
  width: 100%;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.occupancyRate,
.revenue h2 {
  text-align: center;
  margin-bottom: 32px;
}
