.documentsContainer {
  border: 2px solid red;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.documentsTitle {
  font-size: 26px;
}
.btnNav {
  /* width: 600px; */
  /* height: 80px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.btnNav button {
  font-size: 18px;
  color: #212121;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 30px;
}
