.documentsContainer {
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 26px;
}
ul {
  width: 600px;
  height: 80px;
  /* display: flex; */
  border: 2px solid red;
}
ol {
  justify-content: space-evenly;
}
