.statsContainer {
  width: 85%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}
.stats {
  color: #fff;
  background-color: #061831;
  width: 30%;
  height: 60%;
  margin: 20px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
