.transactionStatementContainer {
  width: 85%;
  height: 50vh;
  float: right;
  border: 2px solid red;
}

.transactionStatementContainer h1 {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.statement h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 30px;
  color: #fff;
  background: #333;
  border-radius: 5px;
  margin-bottom: 15px;
}

.transactionStatementContainer .propertyDetail {
  width: 400px;
  height: 250px;
  margin-left: 60px;
  border: 2px solid red;
}

.propertyDetail h3 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.statement .transaction {
  margin: 60px;
}
p {
  padding: 15px;
}
