.NavigationButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 23px;
  width: 100%;
}

.NavigationButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 50%;
  /* max-width: 600px; */
  padding: 16px;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.btn {
  flex: 1 1 30%;
  min-width: 120px;
  padding: 10 16px;
  font-size: 1rem;
  background-color: #ffffff;
  color: #212121;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #212121;
  color: #ffffff;
  border-color: #212121;
}

/* .form {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */
