.newTenantContainer {
  border: 2px solid red;
  height: 100%;
}

.addTenantHeader {
  font-size: 26px;
}
.formContainer {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: center;
  border: 2px solid red;
}
/* .tenantDetail {
  height: 50%;
  border: 2px solid #333;
} */
/* .tenantDetail h1 {
  margin-left: 30px;
  padding: 15px;
} */

/* .tenantDetail label {
  font-size: 25px;
  display: flex;
  flex-direction: column;
} */
/* .tenantDetail input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
} */

/* .tenantPayment h1 {
  margin-left: 30px;
  padding: 15px;
} */
/* .tenantPayment label {
  font-size: 25px;
  display: flex;
  flex-direction: column;
} */
/* .tenantPayment input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
} */
