.statsContainer {
  width: 85%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #333; */
  margin-left: auto;
  border: 2px solid red;
}
.stats {
  width: 30%;
  height: 60%;
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.tableCharts {
  width: 85%;
  height: 60vh;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* border: 2px solid red; */
  margin-left: auto;
}

.table {
  width: 60%;
  height: 500px;
  border-radius: 20px;
  /* border: 2px solid blue; */
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.chart {
  width: 30%;
  height: 500px;
  border-radius: 20px;
  /* border: 2px solid #333; */
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
