.sideBar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #1b1b1b;
  width: 300px;
  color: #fff;
  padding: 0;
  overflow-y: auto;
}

.logo {
  height: 150px;
  align-items: center;
  --green: #1bfd9c;
  font-size: 25px;
  padding: 0.7em 2.7em;
  border-radius: 15px;
  transition: all 0.3s;
  line-height: 20px;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.navContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
  width: 100%;
}

ul > li {
  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 20px;
}

ul a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  width: 100%;
}

ul a:hover {
  color: #82ffc9;
  background: #1e1e1e;
  border-color: #82ffc9;
  color: #82ffc9;
}

.help {
  margin-top: auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  transform: translateY(-20px);
}

.help button {
  padding: 10px 16px;
  background-color: #2e2e2e;
  color: white;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.help button:hover {
  background-color: #3a3a3a;
  border-color: #82ffc9;
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}
